name: Checks

on:
  push:
    branches:
      - 2.x
  pull_request:

jobs:
  composer-normalize:
    name: Composer Normalize
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Composer normalize
        uses: docker://ergebnis/composer-normalize-action

